* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
  font-family: sans-serif;
}

.product_cart_title {
  margin: 20px 0;
}

.product_cart_title h2 {
  font-size: 3rem;
  font-weight: 600;
  margin-bottom: 5rem;
}

.product_cart_item_list {
  background-color: #dfdfdf;
  justify-content: space-between;
  padding: 20px 20px 20px 0;
  width: 130%;
  margin-bottom: 20px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
    rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

.product_cart_list {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.poduct_cart_item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.product-cart_item_info {
  padding: 20px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.product_love_item_info i {
  font-size: 2rem;
}

.note {
  display: flex;
  padding-left: 50px;
  align-items: center;
}

.note_title {
  margin-right: 8px;
  font-size: 1.8rem;
}

.number {
  display: flex;
  align-items: center;
  font-size: 2rem;
}

.minus,
.number_number,
.plus {
  padding: 8px;
  background-color: #fff;
}

.product_info {
  padding: 0 8px;
}

.discout {
  background-color: #dfdfdf;
  padding: 20px;
  width: 30%;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
    rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

.discout_heading {
  padding-bottom: 20px;
  border-bottom: 1px dashed #5a5757;
}

.total_size {
  margin: 60px 0 20px 0;
  display: flex;
  font-size: 1.8rem;
  align-items: center;
  justify-content: space-between;
}

.discout_body {
  padding: 20px 0;
}

.discout_body_total {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.discout_title {
  padding: 8px 0;
  font-size: 2rem;
}

.input {
  padding: 8px 0;
}

.input input {
  width: 100%;
  height: 3rem;
  border: none;
}

button {
  border: none;
  background-color: #5a5757;
  color: #fff;
  width: 15rem;
  padding: 1rem;
  font-size: 2rem;
}

.product_name,
.product_price,
.size_title,
.total_money,
.product_size {
  font-size: 2rem;
}

input {
  padding: 2rem;
  font-size: 2rem;
}

a{
    color: black;
}